# Python cache
__pycache__/
*.pyc

# Build
/build

# Jupyter
.ipynb_checkpoints/

# Virtual envs
venv/
.env/
*.env

# Cache
/Cache
/config

# Disk cache
/disk_cache

# Files
log-backup

# File types
*.mzML
*.h5
*.log
*.log#
*.txt

# Config/environment files
MassLearn_environment.yaml
